.coeur {
  position: relative;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.visible {
  position: absolute;
  width: 40px;
  height: 40px;
  padding-right: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}

.hiden {
  position: absolute;
  margin-right: 20px;
  z-index: 2;
  color: transparent;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: linear-gradient(170deg, #f175da, #a85ddc);
  width: 40px;
  height: 0;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  left: 0;
  top: 0;
}

.coeur:hover .hiden {
  height: 100%;
}

.button {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  border: none;
  background: linear-gradient(170deg, #f175da, #a85ddc);
  height: 50px;
  border-radius: 25px;
  opacity: 1;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
}

.button:hover {
  opacity: 0.5;
  -webkit-box-shadow: rgb(0, 0, 0) 0px 5px 15px;
          box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}