header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header a {
  color: black;
  margin-left: 20px;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header img {
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
}
header i {
  margin-bottom: 10px;
}

main .menu .entete_menu img {
  aspect-ratio: 1.5/1;
  width: 100%;
  z-index: 1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu .entete_menu .coeur {
  margin-right: 40px;
}
main .menu .entete_menu h1 {
  font-family: "Shrikhand";
  font-size: 1.6em;
  font-weight: 300;
  text-align: left;
  padding-left: 10px;
  padding-top: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -50px;
  z-index: 2;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .menu .entete_menu h1 p {
  margin: 0px;
}
main .menu .entete_menu h1 i {
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 30px;
}
main .menu h2 {
  text-align: left;
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
}
main .menu .trait {
  width: 34px;
  margin-left: 10px;
  height: 2px;
  background-color: #99E2D0;
  margin-bottom: 10px;
}
main .menu .checked_container {
  background-color: #99E2D0;
  width: 50px;
  min-width: 60px;
  margin-left: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -80px;
  margin-top: 0px;
  margin-bottom: 0px;
}
main .menu .checked_container i {
  border-radius: 15px;
  padding: 2px;
  margin: auto;
  font-size: 15px;
  color: #99E2D0;
  background-color: white;
}
@-webkit-keyframes translateX {
  0% {
    left: 40px;
    margin-right: -60px;
  }
  100% {
    left: 0px;
    margin-right: -20px;
  }
}
@keyframes translateX {
  0% {
    left: 40px;
    margin-right: -60px;
  }
  100% {
    left: 0px;
    margin-right: -20px;
  }
}
@-webkit-keyframes rotateZ {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes rotateZ {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
main .menu .animation:hover .checked_container {
  -webkit-animation: translateX 1s forwards;
          animation: translateX 1s forwards;
}
main .menu .animation:hover i {
  -webkit-animation: rotateZ 1s;
          animation: rotateZ 1s;
}
main .menu .article_container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
main .menu article {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
}
main .menu article h3, main .menu article p:not(.prix) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .menu article h3 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}
main .menu article .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}
main .menu article .infos p {
  margin-top: 0px;
  font-size: 12px;
}
main .menu article .infos .prix {
  font-weight: 600;
}
main .menu article .infos_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@-webkit-keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes translation_y {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes translation_y {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0px;
  }
}
main .menu .animation.x1 {
  -webkit-animation: opa 3s 0.2s forwards;
          animation: opa 3s 0.2s forwards;
}
main .menu .animation.x2 {
  -webkit-animation: opa 3s 0.4s forwards;
          animation: opa 3s 0.4s forwards;
}
main .menu .animation.x3 {
  -webkit-animation: opa 3s 0.6s forwards;
          animation: opa 3s 0.6s forwards;
}
main .menu .animation.x4 {
  -webkit-animation: opa 3s 0.8s forwards;
          animation: opa 3s 0.8s forwards;
}
main .menu .animation.x5 {
  -webkit-animation: opa 3s 1s forwards;
          animation: opa 3s 1s forwards;
}
main .menu .animation.x6 {
  -webkit-animation: opa 3s 1.2s forwards;
          animation: opa 3s 1.2s forwards;
}
main .menu .animation.x7 {
  -webkit-animation: opa 3s 1.4s forwards;
          animation: opa 3s 1.4s forwards;
}
main .menu .animation.x8 {
  -webkit-animation: opa 3s 1.6s forwards;
          animation: opa 3s 1.6s forwards;
}
main .menu .animation.x9 {
  -webkit-animation: opa 3s 1.8s forwards;
          animation: opa 3s 1.8s forwards;
}
main .menu .animation.x10 {
  -webkit-animation: opa 3s 2s forwards;
          animation: opa 3s 2s forwards;
}

.button {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 50%;
}

@media all and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .list {
    width: 40%;
  }
  .order__button {
    max-width: 400px;
  }
}
@media all and (min-width: 992px) {
  .list {
    width: 30%;
  }
}