@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: auto;
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: auto;
    visibility: visible;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: auto;
    visibility: visible;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #99E2D0;
    border-bottom: 16px solid #FF79DA;
    width: 120px;
    height: 120px;
    margin: auto;
    visibility: visible;
  }
}
@-webkit-keyframes lc {
  0% {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  100% {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
}
@keyframes lc {
  0% {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  100% {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
}
.loader-container {
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: lc 2.6s linear;
          animation: lc 2.6s linear;
}

.loader {
  -webkit-animation: spin 2.6s linear;
          animation: spin 2.6s linear;
}

.page {
  -webkit-animation: aparait 3s linear forwards;
          animation: aparait 3s linear forwards;
}

@-webkit-keyframes aparait {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes aparait {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border radiant*/
  border-top: 2px solid #cecece;
  background-color: #eaeaea;
}
.localisation p {
  margin: 0px;
  padding-left: 10px;
}

.exploreur {
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.exploreur h1 {
  padding-top: 40px;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 26px;
  /*font-family: 'Shrikhand';*/
}
.exploreur p {
  padding-left: 20px;
  padding-right: 20px;
}
.exploreur .exploreur__button {
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  border: none;
  background: linear-gradient(170deg, #f175da, #a85ddc);
  height: 50px;
  border-radius: 25px;
}

main {
  text-align: left;
}
main a {
  text-decoration: none;
  color: black;
}
main .fonctionnement h2 {
  margin-left: 20px;
}
main .etapes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 768px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 60px;
  background-color: #f7f7f7;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
  font-weight: 700;
}
main .etapes p:first-child {
  margin-left: -10px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #a85ddc;
}
main .etapes p:not(:first-child) {
  padding-left: 20px;
}
main .etapes i {
  font-size: 20px;
  color: #7e7e7e;
}
main .etapes:hover {
  background-color: #f5edff;
}
main .etapes:hover i {
  color: #a85ddc;
}

.restaurants {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  background-color: #f7f7f7;
}

article {
  border-radius: 20px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
article .containeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
article .texte {
  margin-left: 15px;
}
article h3, article p {
  margin-top: 0px;
  margin-bottom: 0px;
}
article h3 {
  padding-top: 15px;
}
article p {
  padding-bottom: 15px;
}
article i {
  padding-right: 20px;
  font-size: 20px;
}
article .coeur {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
article .visible {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
article .hiden {
  position: absolute;
  margin-right: 20px;
  z-index: 1;
  color: transparent;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: linear-gradient(170deg, #f175da, #a85ddc);
  width: 0;
  height: 0;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  left: 0;
  top: 0;
}
article .coeur:hover .hiden {
  width: 100%;
  height: 100%;
}
article img {
  /*image a cadrer corectement*/
  aspect-ratio: 1.9/1;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

article:not(:first-child) {
  margin-top: 20px;
}

@media all and (min-width: 768px) {
  .restaurants {
    text-align: center;
  }
  .restaurants_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 0px;
  }
  .restaurants_container .restaurant {
    width: 300px;
    margin-bottom: 20px;
  }
  .restaurants_container .restaurants:not(:last-child) {
    margin-right: 40px;
  }
  .fonctionnement {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .etapes_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .etapes {
    min-width: 300px;
  }
}