body{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    font-family: 'Roboto';
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
header{
    margin-top:20px;
    text-align: center;

    
    .logo_img{
    
        width: auto;
        height: 30px;
        margin-bottom: 10px;
    
        }
   
}
footer{
    color:white;
    text-align: left;
    background-color: #353535;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    i{
        margin-right: 5px;
        font-size: 12px;
    }
    ul {
    list-style: none;
    padding-left: 0px;
    }
    li:not(:first-child){
        margin-top: 5px;
    }
    h3{
        font-family: 'Shrikhand';
        font-size: 14px;
        font-weight: 500;
        }
        a{text-decoration: none;
            color: white;
        }
       a:visited {text-decoration: none;
        color: white;
       }
 }
 @media all and (min-width: 768px){
    footer{
    text-align: center;
    }
}