
   @keyframes spin {
    0% { transform: rotate(0deg);
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #9356DC ;
        border-right: 16px solid #99E2D0;
        border-bottom: 16px solid #FF79DA;
        width: 120px;
        margin: auto;
        height: 120px;
        
        visibility: visible; }
    100% { transform: rotate(360deg);
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #9356DC ;
        border-right: 16px solid #99E2D0;
        border-bottom: 16px solid #FF79DA;
        margin: auto;
        width: 120px;
        height: 120px;
        visibility: visible; }
  }
   .loader {
 
    
    
    animation: spin 2.6s linear ;
   
    }
  
    .page{
        
        animation: aparait 3s linear forwards;
        
    }
    @keyframes aparait {
        0% {  visibility: hidden; }
        99% { visibility: hidden; }
        100% {visibility: visible; }
      }
   
    .localisation{
        display: flex;   
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        /*border radiant*/
       border-top: 2px solid #cecece;
        
        background-color: #eaeaea;

        p{
            margin: 0px;
            padding-left: 10px;
        }
       
    }
    .exploreur {
     
        
        background-color: #f7f7f7;
        padding-bottom: 40px;
        h1{
            margin-top: 40px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 26px;
            /*font-family: 'Shrikhand';*/
        }
        p{
            padding-left: 20px;
            padding-right: 20px;
        }
        .exploreur__button{
            padding-left: 25px;
            padding-right: 25px;
            color: white;
            border: none;
            background: linear-gradient(170deg, #f175da, #a85ddc);
            height: 50px;
            border-radius:  25px;
        }
        
    }
    main {
        text-align: left;
        
        .etapes{
           display: flex;
           align-items: center;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 60px;
            background-color: #f7f7f7;
            border-radius: 15px;
            margin-left: 20px;
            margin-bottom: 20px;
            padding-right: 10px;
            font-weight: 700;
            p:first-child{
                margin-left: -10px;
                height: 20px;
                width: 20px;
                text-align: center;
                color: white;
                border-radius: 10px;
                background-color: #a85ddc;
            }
            p:not(:first-child){
                padding-left: 20px;
            }
            i {
                font-size: 20px;
                color: #7e7e7e;
            }
            
        }
        .etapes:hover{
            background-color: #f5edff ;
            i{
                color: #a85ddc;
            }
        }
     }
     .restaurants{
        margin-top: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
        background-color: #f7f7f7;
     }
     article{
        .containeur {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        border-radius: 20px;
        .texte{
            margin-left: 15px;
        }
        h3, p {
            margin-top: 0px;
            margin-bottom: 0px;
           
        }
        h3{
            padding-top: 15px;
        }
        p{
            padding-bottom: 15px;
        }
        .hiden{
            display: none;
            background-color: black;
        }
        i{
           
            padding-right: 20px;
            font-size: 20px;
           
        }
        .coeur:hover{
            i{
            background: linear-gradient(170deg, #f175da, #a85ddc);
            
            background-clip: text;
            color: transparent;
           
            
            }
            .visible{
                display: none;
            }
            .hiden{
                display: initial;
            }
        }
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        img{
            /*image a cadrer corectement*/
            aspect-ratio: 1.9/1;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
            
        }
     }
     article:not(:first-child){
        margin-top: 20px;
     }
    
   
