
   @keyframes spin {
    0% { transform: rotate(0deg);
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #9356DC ;
        border-right: 16px solid #99E2D0;
        border-bottom: 16px solid #FF79DA;
        width: 120px;
       
        height: 120px;
        margin: auto;
       
        visibility: visible; }
    100% { transform: rotate(360deg);
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #9356DC ;
        border-right: 16px solid #99E2D0;
        border-bottom: 16px solid #FF79DA;
        
        width: 120px;
        height: 120px;
        margin: auto;
        
        visibility: visible; }
  }
  @keyframes lc {
    0% { 
        width: 100%;
       
        height: 100vh;
        margin: auto;
         }
    100% { 
        
        
        width: 100%;
    
        height: 100vh;
        margin: auto;
        
        
     }
  }
  .loader-container {
    height: 0px;
    display: flex;

    
    
    animation: lc 2.6s linear ;
   
    }
   .loader {
  
   
    
    
    animation: spin 2.6s linear ;
   
    }
  
    .page{
        
        animation: aparait 3s linear forwards;
        
    }
    @keyframes aparait {
        0% {  visibility: hidden; }
        99% { visibility: hidden; }
        100% {visibility: visible; }
      }
   
    .localisation{
        display: flex;   
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        /*border radiant*/
       border-top: 2px solid #cecece;
        
        background-color: #eaeaea;

        p{
            margin: 0px;
            padding-left: 10px;
        }
       
    }
    .exploreur {
     
        
        background-color: #f7f7f7;
        padding-bottom: 40px;
        h1{
            padding-top: 40px;
            margin-top: 0px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 26px;
            /*font-family: 'Shrikhand';*/
        }
        p{
            padding-left: 20px;
            padding-right: 20px;
        }
       
        
    }
    main {
        a{
            text-decoration: none; 
            color: black;
        }
        text-align: left;
        .fonctionnement h2{
            margin-left: 20px;
        }
        .etapes{
           display: flex;
           max-width: 768px;
           align-items: center;
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 60px;
            background-color: #f7f7f7;
            border-radius: 15px;
            margin-left: 20px;
            margin-bottom: 20px;
            margin-right: 20px;
            padding-right: 20px;
            font-weight: 700;
            
            p:first-child{
                margin-left: -10px;
                height: 20px;
                width: 20px;
                text-align: center;
                color: white;
                border-radius: 10px;
                background-color: #a85ddc;
            }
            p:not(:first-child){
                padding-left: 20px;
            }
            i {
                font-size: 20px;
                color: #7e7e7e;
            }
            
        }
        .etapes:hover{
            background-color: #f5edff ;
            i{
                color: #a85ddc;
            }
        }
     }
     .restaurants{
        margin-top: 20px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 60px;
        background-color: #f7f7f7;
     }
     .restaurant{
        position: relative;
        margin-bottom: 40px;
        .nouveau{
            position: absolute;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            background-color: #99e2d0;
            color:#008766;
            padding: 10px;
            font-weight: bold;
        }
     }
     article{
        .containeur {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                margin-left: 15px;
            }
        }
        border-radius: 20px;
       
        h3, p {
            margin-top: 0px;
            margin-bottom: 0px;
           
        }
        h3{
            padding-top: 15px;
        }
        p{
            padding-bottom: 15px;
        }
    
        i{
           
            padding-right: 20px;
            font-size: 20px;
           
        }
        .coeur{
            position: relative;
            margin-top: -10px;
            
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
        .visible{
            position: absolute;
            width: 100%;
            height: 100%;
          
            left: 0;
            top: 0;
            z-index: 2;
          
            
        }
        .hiden{
            position: absolute;
          
            margin-right: 20px;
            z-index: 1;
            color: transparent;
            transition: all 0.3s linear 0s;
            background: linear-gradient(170deg, #f175da, #a85ddc);
            width: 0;
            height: 0;
            background-clip: text;
            color: transparent;
            left: 0;
            top: 0;
            
        }
        .coeur:hover{
            .hiden{
                
                width: 100%;
                height: 100%;
                
               
            }
           
        }
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        img{
            /*image a cadrer corectement*/
            aspect-ratio: 1.9/1;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
            
        }
     }
     article:not(:first-child){
        margin-top: 20px;
     }
    
@media all and (min-width: 768px){
    .restaurants{
        text-align: center;
        
    }
    .restaurants p{
        text-align: left;
    }
    article:not(:first-child){
        margin-top: 0px;
     }
    .restaurants_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 0px;
       
        .restaurant{
            width: 40%;
            margin-bottom: 20px;
           
        }
      
       
    }
    .fonctionnement{
        
        text-align: center;
        justify-content: center;
    }
    .etapes_container{
       display: flex;
       flex-wrap: wrap;
        justify-content: space-around;
    }
    .etapes{
        min-width: 300px;
    }
   

}

@media all and (min-width: 992px){
    .restaurants_container{
      
       
        .restaurant{
            width: 23%;
           
           
        }
      
       
    }
}
    
